@font-face {
    font-family: "montserrat-regular";
    src: url(../fonts/Montserrat-regular.ttf);
}

@font-face {
    font-family: "montserrat-black";
    src: url(../fonts/Montserrat-Black.ttf);
}


h1 {
    font-size: 2rem;
    font-family: "montserrat-black";
}

h2 {
    font-size: 1.5rem;
    padding-top: 30px;
    color: darkcyan;
}

h3 {
    font-size: 1.2rem;
    padding-top: 30px;
    color: rgb(42, 42, 43);
}


p {
    font-size: 1rem;
    font-family: "montserrat-regular";
    line-height: 1.5rem;
    padding-top: 15px;
}

h2+p, h3+p {
    padding-bottom: 0 !important;
}

p + ul {
    padding-top:15px;
}

a {
    text-decoration: none;
    color: darkcyan;
    font-weight: 600;
    position: relative;
}


a::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: darkcyan;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
  
  
a:hover::before {
    left: 0;
    right: auto;
    width: 100%;
}
