html {
    scroll-behavior: smooth;
}


/***************************************/
/*             CHART.JS                */
/***************************************/









/***************************************/
/*               GOOGLE                */
/***************************************/


#chart_div {
    width: 600px;
    height: 400px;
}
